1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x4
FILETYPE 1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "FileDescription", "Gui_proxy Application"
            VALUE "ProductName", "Gui_proxy"
            VALUE "LegalCopyright", "Copyright (c) 2025"
            VALUE "CompanyName", "YC"
            VALUE "FileVersion", "0.1.0"
            VALUE "ProductVersion", "0.1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}



